In [186]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [187]:
df = pd.read_csv('법정동코드 전체자료.txt', sep = '\t', encoding = 'euc-kr')
df.tail()

            법정동코드                  법정동명 폐지여부
46295  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46296  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46297  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46298  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46299  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

In [188]:
len(df)

46300

In [189]:
# 폐지된 주소는 삭제되도록 필터링
df = df[df['폐지여부'] == '존재']

In [190]:
len(df)

20551

In [191]:
# 인덱싱
df.법정동명.str[:5].tail()

46295    제주특별자
46296    제주특별자
46297    제주특별자
46298    제주특별자
46299    제주특별자
Name: 법정동명, dtype: object

In [192]:
#찾기
df['법정동명'].str.find('제주').head()

0   -1
1   -1
2   -1
3   -1
4   -1
Name: 법정동명, dtype: int64

In [193]:
df['법정동명'].str.find('제주').tail()

46295    0
46296    0
46297    0
46298    0
46299    0
Name: 법정동명, dtype: int64

In [194]:
# 분할
df.법정동명.str.split().tail()

46295    [제주특별자치도, 서귀포시, 표선면, 하천리]
46296    [제주특별자치도, 서귀포시, 표선면, 성읍리]
46297    [제주특별자치도, 서귀포시, 표선면, 가시리]
46298    [제주특별자치도, 서귀포시, 표선면, 세화리]
46299    [제주특별자치도, 서귀포시, 표선면, 토산리]
Name: 법정동명, dtype: object

In [195]:
# 포함글자 여부
df.법정동명.str.contains('제주').tail()

46295    True
46296    True
46297    True
46298    True
46299    True
Name: 법정동명, dtype: bool

In [196]:
jeju = df[df.법정동명.str.contains('제주')==True]
len(jeju)

213

In [197]:
jeju

            법정동코드                  법정동명 폐지여부
46084  5000000000               제주특별자치도   존재
46085  5011000000           제주특별자치도 제주시   존재
46086  5011010100      제주특별자치도 제주시 일도일동   존재
46087  5011010200      제주특별자치도 제주시 일도이동   존재
46088  5011010300      제주특별자치도 제주시 이도일동   존재
...           ...                   ...  ...
46295  5013032022  제주특별자치도 서귀포시 표선면 하천리   존재
46296  5013032023  제주특별자치도 서귀포시 표선면 성읍리   존재
46297  5013032024  제주특별자치도 서귀포시 표선면 가시리   존재
46298  5013032025  제주특별자치도 서귀포시 표선면 세화리   존재
46299  5013032026  제주특별자치도 서귀포시 표선면 토산리   존재

[213 rows x 3 columns]

In [198]:
# 문자 대체
df['법정동명'].str.replace(' ','_').tail()

46295    제주특별자치도_서귀포시_표선면_하천리
46296    제주특별자치도_서귀포시_표선면_성읍리
46297    제주특별자치도_서귀포시_표선면_가시리
46298    제주특별자치도_서귀포시_표선면_세화리
46299    제주특별자치도_서귀포시_표선면_토산리
Name: 법정동명, dtype: object

In [199]:
jeju['법정동명'] = jeju['법정동명'].str.replace(' ','!@#$%')
jeju.head()

            법정동코드                      법정동명 폐지여부
46084  5000000000                   제주특별자치도   존재
46085  5011000000           제주특별자치도!@#$%제주시   존재
46086  5011010100  제주특별자치도!@#$%제주시!@#$%일도일동   존재
46087  5011010200  제주특별자치도!@#$%제주시!@#$%일도이동   존재
46088  5011010300  제주특별자치도!@#$%제주시!@#$%이도일동   존재

In [200]:
# str.replace()에서는 정규표현식 사용가능
jeju['법정동명'] = jeju['법정동명'].str.replace('[^가-힣]',' ')
jeju.head()

            법정동코드                      법정동명 폐지여부
46084  5000000000                   제주특별자치도   존재
46085  5011000000           제주특별자치도     제주시   존재
46086  5011010100  제주특별자치도     제주시     일도일동   존재
46087  5011010200  제주특별자치도     제주시     일도이동   존재
46088  5011010300  제주특별자치도     제주시     이도일동   존재

In [201]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv', skiprows = 1,  encoding='EUC-KR')
cctv.head()

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289
3,용산구,"2,383",34,71,234,125,221,298,351,125,307,617,0
4,성동구,"3,602",448,125,212,105,339,310,874,390,262,461,76

In [202]:
cctv['총계'].apply(lambda x: int(x.replace(',',''))).head()

0    77032
1     1772
2     2333
3     2383
4     3602
Name: 총계, dtype: int64

In [203]:
cctv['총계'].str.replace(',','').astype(int).head()

0    77032
1     1772
2     2333
3     2383
4     3602
Name: 총계, dtype: int32

In [204]:
cctv.iloc[:, 1:] = cctv.iloc[:, 1:].apply(lambda x: x.str.replace(',','')).astype(int)
cctv.iloc[:, 1:]

,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,1772,813,0,0,210,150,1,261,85,9,200,43
2,2333,16,114,87,77,236,240,372,386,155,361,289
3,2383,34,71,234,125,221,298,351,125,307,617,0
4,3602,448,125,212,105,339,310,874,390,262,461,76
5,2588,35,57,100,187,98,52,675,465,712,175,32
6,2497,1090,146,60,29,111,233,136,197,209,223,63
7,3296,302,24,253,88,141,161,162,173,1049,939,4
8,3958,83,78,170,230,323,594,460,867,714,251,188
9,2462,0,0,24,65,105,243,6,392,1000,588,39
10,1629,39,22,96,181,79,159,134,222,198,168,331
11,2415,0,97,193,77,516,331,175,216,320,386,104
12,3791,14,3,44,332,329,555,403,635,1057,288,131
13,2940,730,253,155,108,137,223,356,237,343,397,1
14,2421,58,93,77,61,162,454,359,343,494,300,20
15,3312,1413,167,181,143,180,350,139,140,274,325,0
16,2560,55,129,106,213,188,168,506,259,457,356,123
17,4075,852,216,349,187,268,326,540,488,434,415,0
18,2374,0,0,178,80,361,133,196,540,369,508,9
19,3778,572,136,238,123,209,248,311,658,65,1213,5
20,2297,41,24,25,503,128,253,271,300,322,419,11
21,4942,428,205,291,513,529,621,687,663,640,331,34
22,3704,116,75,94,71,563,516,1060,428,358,420,3
23,6502,124,77,75,597,840,1310,999,748,789,942,1
24,2854,72,61,86,85,215,148,241,542,1068,235,101
25,2547,332,27,163,49,154,202,273,377,356,614,0

In [206]:
# 위에서 해놔서 안됨
"""for column in cctv.columns[1:]:
    cctv[column] = cctv[column].str.replace(',','').astype(int)
cctv.head()"""

AttributeError: Can only use .str accessor with string values!